<!DOCTYPE html>
<html>
<head>
	<title>About</title>
	<link rel="stylesheet" type="text/css" href="/style.css">
</head>
<body>
	<%- include('header', {user: user}); %>
	<div id="contents">
		<h3>About 找朋友 (Finding Friends)</h3>

		Rules and stuff
</body>
</html>