<div id="header">
	<h1 id="zpytitle"><a href="/">ZhaoPengYou</a></h1>
	<div id="login">
		<% if (user) { %>
			Welcome, <a href="profile"><b><%= user.username %>!</b></a> | <a href="logout">Log Out</a>
		<% } else { %>
			<b>Not logged in.</b> &nbsp; <a href="login">Login</a> | <a href="register">Register</a>
		<% } %>
	</div>
</div>
	<nav id="navbar">
		<ul>
			<a href="/"><li>Home</li></a>
			<% if (user) { %>
				<a href="/rooms"><li>My Rooms</li></a>
			<% } %>
			<a href="/users"><li>Users</li></a>
			<% if (user) { %>
				<a href="/profile"><li>Profile</li></a>
			<% } %>
			<a href="/about"><li>About</li></a>
		</ul>
	</nav>
<hr>