<!DOCTYPE html>
<html>
<head>
	<title>找朋友</title>
	<link rel="stylesheet" type="text/css" href="/style.css">
</head>
<body>
	<%- include('header', {user: user}); %>
	<div id="contents">
		<p>Welcome to 找朋友! <% if (!user) { %>Login to view more stuff.<% } %></p>
	</div>
</body>
</html>