<!DOCTYPE html>
<html>
<head>
	<title>Error</title>
	<link rel="stylesheet" type="text/css" href="/style.css">
</head>
<body>
	<div id="contents">
		<h1>Error</h1>
		Not logged in!<br>
		<a href="/">Return home</a>
	</div>
</body>
</html>