<!DOCTYPE html>
<html>
<head>
	<title><%= profileuser.username %>'s Profile</title>
	<link rel="stylesheet" type="text/css" href="/style.css">
</head>
<body>
	<%- include('header', {user: user}); %>
	<div id="contents">
		<% if (profileuser) { %>
		<%= profileuser.username %>'s Profile
		<% } else { %>
			User not found
		<% } %>
</body>
</html>