<!DOCTYPE html>
<html>
<head>
	<title>Rooms</title>
	<link rel="stylesheet" type="text/css" href="style.css">
</head>
<body>
	<%- include('header', {user: user}); %>
	<div id="contents">
		<%= user %>'s Profile
</body>
</html>