<!DOCTYPE html>
<html>
<head>
	<title>Rooms</title>
	<link rel="stylesheet" type="text/css" href="style.css">
	<style type="text/css">
		#newroombuttonlink {
			line-height: 2em;
			text-decoration: none;
			color: black;
		}
		#newroombutton {
			padding: 10px 20px;
			background-color: #EEE;
			transition: all 0.5s;
			display: inline-block;
			font-weight: bold;
			margin: 2px 2px;
		}

		#newroombutton:hover {
			background-color: #DDD;
		}
	</style>
</head>
<body>
	<%- include('header', {user: user}); %>
	<div id="contents">
		<h3>Invitations</h3>
		<div id='invitationList'></div>
		<h3>Your Rooms</h3>
		<div id='ownedList'></div>
		<h3>Rooms you have joined</h3>
		<div id='joinedList'></div>
	</div>
	<script type="text/javascript">
		function fetchSameOrigin(url) {
			return fetch(url, { credentials: 'same-origin' }).then(response => response.json());
		}

		function loadInvitations() {
			fetchSameOrigin('/rooms/invited').then(invitedRooms => {
				//console.log(invitedRooms);
				let contents = '';
				if (invitedRooms.length > 0) {
					for (let room of invitedRooms) {
						contents += `<a href="/r/${room.id}"><div class="listitem">${room.name} created by ${room.ownerName}</div></a>`;
					}
				} else {
					contents = '<p>No invitations.</p>';
				}
				document.getElementById('invitationList').innerHTML = contents;
			});
		}

		function loadOwned() {
			fetchSameOrigin('/rooms/owned').then(ownedRooms => {
				// console.log(ownedRooms);
				let contents = '';
				if (ownedRooms.length > 0) {
					contents += '<a href="/newroom" id="newroombuttonlink"><div id="newroombutton">Make a new room</div></a>';
					for (let room of ownedRooms) {
						contents += `<a href="/r/${room.id}"><div class="listitem">${room.name}</div></a>`;
					}
				} else {
					contents = '<p>No rooms.</p><a href="/newroom" id="newroombuttonlink"><div id="newroombutton">Make a new room</div></a>';
				}
				document.getElementById('ownedList').innerHTML = contents;
			});
		}

		function loadJoined() {
			fetchSameOrigin('/rooms/joined').then(joinedRooms => {
				// console.log(joinedRooms);
				let contents = '';
				if (joinedRooms.length > 0) {
					for (let room of joinedRooms) {
						contents += `<a href="/r/${room.id}"><div class="listitem">${room.name}</div></a>`;
					}
				} else {
					contents = '<p>No joined rooms.</p>';
				}
				document.getElementById('joinedList').innerHTML = contents;
			});
		}


		window.addEventListener('pageshow', function() {
			function loadStuff() {
				loadInvitations();
				loadOwned();
				loadJoined();
			};

			setInterval(loadStuff, 2000);
			loadStuff();
		});		
	</script>
</body>
</html>