<!DOCTYPE html>
<html>
<head>
	<title>Rooms</title>
	<link rel="stylesheet" type="text/css" href="style.css">
	<style type="text/css">
		#newroombuttonlink {
			line-height: 2em;
			text-decoration: none;
			color: black;
		}
		#newroombutton {
			padding: 10px 20px;
			background-color: #EEE;
			transition: all 0.5s;
			display: inline-block;
			font-weight: bold;
			margin: 2px 2px 4px;
			border-radius: 10px;
		}

		#newroombutton:hover {
			background-color: #DDD;
			border-radius: 0px;
		}
	</style>
	<script type="text/javascript" src="ext/socket.io.js"></script>
</head>
<body>
	<%- include('header', {user: user}); %>
	<div id="contents">
		<h3>Invitations</h3>
		<div id='invitationList'>Loading...</div>
		<h3>Your Rooms</h3>
		<a href="/newroom" id="newroombuttonlink"><div id="newroombutton">Make a new room</div></a>
		<div id='ownedList'>Loading...</div>
		<h3>Rooms you have joined</h3>
		<div id='joinedList'>Loading...</div>
	</div>
	<script type="text/javascript">
		var socket = io.connect('/rooms');

		socket.on('connect', () => {
			// console.log(socket.id);
		});

		socket.on('invited', invited => {
			// console.log('loading invited', invited);
			loadInvitations(invited);
		});

		socket.on('owned', owned => {
			// console.log('loading owned', owned);
			loadOwned(owned);
		});

		socket.on('joined', joined => {
			// console.log('loading joined', joined);
			loadJoined(joined);
		});

		socket.on('newInvite', room => {
			let invList = document.getElementById('invitationList');
			invList.innerHTML = `<a href="/r/${room.id}"><div class="listitem">${room.name} created by ${room.ownerName}</div></a>` + invList.innerHTML;
		});

		socket.on('newOwned', room => {
			let ownedList = document.getElementById('ownedList');
			ownedList.innerHTML = `<a href="/r/${room.id}"><div class="listitem">${room.name}</div></a>` + ownedList.innerHTML;
		});

		socket.on('newJoined', room => {
			let joinedList = document.getElementById('joinedList');
			joinedList.innerHTML = `<a href="/r/${room.id}"><div class="listitem">${room.name}</div></a>` + joinedList.innerHTML;
		});

		var loadInvitations = invitedRooms => {
			//console.log(invitedRooms);
			let contents = '';
			if (invitedRooms.length > 0) {
				for (let room of invitedRooms) {
					contents += `<a href="/r/${room.id}"><div class="listitem">${room.name} created by ${room.ownerName}</div></a>`;
				}
			} else {
				contents = '<p>No invitations.</p>';
			}
			document.getElementById('invitationList').innerHTML = contents;
		};

		var loadOwned = ownedRooms => {
			// console.log(ownedRooms);
			let contents = '';
			if (ownedRooms.length > 0) {
				contents += '';
				for (let room of ownedRooms) {
					contents += `<a href="/r/${room.id}"><div class="listitem">${room.name}</div></a>`;
				}
			} else {
				contents = '<p>No rooms.</p>';
			}
			document.getElementById('ownedList').innerHTML = contents;
		};

		var loadJoined = joinedRooms => {
				// console.log(joinedRooms);
				let contents = '';
				if (joinedRooms.length > 0) {
					for (let room of joinedRooms) {
						contents += `<a href="/r/${room.id}"><div class="listitem">${room.name}</div></a>`;
					}
				} else {
					contents = '<p>No joined rooms.</p>';
				}
				document.getElementById('joinedList').innerHTML = contents;
		};
	</script>
</body>
</html>