<!DOCTYPE html>
<html>
<head>
	<title>Rooms</title>
	<link rel="stylesheet" type="text/css" href="style.css">
</head>
<body>
	<%- include('header', {user: user}); %>
	<div id="contents">
		<% if (user.rooms.length < 1) { %>
			No rooms.
		<% } for (let room of user.rooms) { %>
			<%= room %>
		<% } %>
</body>
</html>