<!DOCTYPE html>
<html>
<head>
	<title>Users</title>
	<link rel="stylesheet" type="text/css" href="/style.css">
</head>
<body>
	<%- include('header', {user: user}); %>
	<div id="contents">
		<h3>All Users</h3>
		<% if (users.length > 0) { 
			for (let u of users) { %>
				<a href="/profile?u=<%= u.username %>"><div class="listitem"><%= u.username %></div></a>
		<% 	}
		} else { %>
			No users
		<% } %>
	</div>
</body>
</html>